.orderDetails h3 {
  font-weight: bold;
  font-family: sans-serif;
  background-color: rgb(245, 192, 20);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.85rem;
  padding-left: 1.5rem;
}

.orderDetails ul {
  list-style: none;
  padding-left: 0px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.85rem;
  background-color: white;
  border: rgb(187, 187, 187);
  border-radius: 5px;
}

.orderDetails ul > li {
  padding: 0.75rem;
}

.horizontal-padding {
  padding: 0 2rem;
}
