.car-card {
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
  background-color: #fdf8f8;
  border: 1px solid #a7a3a3;
}

.heart-icon {
  width: 24px;
  color: red;
  height: auto;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.car-card h6 {
  max-width: 120%;
  font-size: 1.5rem;
  font-weight: bold;
}

.car-card p {
  font-size: 1.5rem;
}

.img-container img {
  margin-top: 5px;
  width: 90%;
  height: auto;
}

.img-container {
  width: 60%;
  height: auto;
  position: relative;
}

.car-card-text {
  gap: 5px;
  padding: 1rem;
  width: 40%;
  height: 100%;
  justify-content: left;
  display: flex;

  flex-direction: column;
  margin-left: 2rem;
}

.car-card-text a {
  width: 7rem;
  font-weight: bold;
  margin-top: 10px;
  border: 10px solid rgb(245, 192, 20);
  color: black;
  background-color: rgb(245, 192, 20);
  text-decoration: none;
  border-radius: 0.1rem;
  text-align: center;
}
