.form-data {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border: 1px solid black;
  gap: 1rem;
  color: #999;
}
.form-data input {
  width: 100%;
  color: #999;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
}
.form-data > .location > input {
  margin-right: 30px;
}
.location {
  grid-column: span 2 / span 2;
}
.horizontal-padding {
  padding: 0 2rem;
}

.form-data svg {
  position: relative;
  top: -30px;
  height: 24px;
  width: 24px;
}
